 /*****滑動圖片所需樣式 *****/


 /*隱藏其它圖片*/
 .slider-wrapper {position:relative; overflow:hidden; width:900px; height:295px;}


 /*.s1 .slider-wrapper {border: 1px solid #ccc; position:relative;}*/
 /*.s1 .slider-wrapper {width:600px; height:295px;}*/


  /*.slider-holder {overflow:hidden; width:750px; display:block; height:400px; padding:0; margin:0;}*/

  /*才有換場動畫效果*/
  .s-active {position:relative; top:0; left:0;}

  .s1 .slider-wrapper {width:900px; height:285px;}
  /*.s1 .slider-holder {width:600px; display:block; height:295px;}*/



 /*****滑動圖片自訂樣式 *****/
 div.slider{
     width: 900px;
     position: relative;
     margin:0 auto;
 }

 .slider-holder li{
  list-style:none;
  /*height: 600px;*/

 }




 .slider-holder li a img{
  /*和div.slider寬度相同*/
     width:900px;
     height: 285px;
     /*max-height: 200px;*/
 }



 .slider-nav li a,
 .slider-nav li a:visited,
 .slider-nav li a:focus{
     padding:18px;
     text-decoration:none;
     display:block;
     color:#FFF;
 }


 .slider-nav li a:hover{

     background: none repeat scroll 0% 0% rgba(82, 83, 84, 0.8);
     color:#FFF;
 }

 .slider-nav{
     position:absolute;
     margin: 0;/*完全貼齊上個容器*/
     top:0;
     right:0;
 }
 .slider-nav li{
  list-style: none;
     width:200px;
     margin: 0px;
     padding-top: 0px;
     /*border-bottom:1px solid #ccc;*/
     border-bottom:1px solid #818181;
     background: none repeat scroll 0% 0% rgba(82, 83, 84, 0.8);
 }


.slider-nav li:last-child{
  border-bottom: none;

 }


 .s1 .slider-nav li.active a {background: none repeat scroll 0% 0% #363739;}
 /*.slider-nav .active {font-weight:bold;}*/


 .slider_shadow {
  width: 800px;
  margin: 0 auto;
     background: url('../images/slidershadowbg.png') no-repeat scroll center center / 100% auto transparent;
     height: 38px;
     margin-top: -5px;
     z-index: -1000;
 }


/*顯示向左箭頭*/
 .slider-nav li.active a .slider-arrow-left {
     visibility: visible;
 }

 .slider-nav li a .slider-arrow-left {
     position: absolute;
     left: -8px;
     /*top: 52px;*/
     color: #363739;
     /*color:rgba(82, 83, 84, 0.8);*/
     font-size: 25px;
     visibility: hidden;
 }



